@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

* {
    font-family: 'Open Sans';

}

.logo {
    background-color: darkslategray;
    text-align: center;
    color: White;
    padding: 10px;
    border-style: groove;
    border-width: 2px;
    border-color: black;
}

.logo:hover {
    background-color: #3F6B6B;
    
}

header a {
    text-decoration: none;
}

li {
    font-size: 25px;
}

p {
    font-size: 20px;
}

footer {
    border-top: black;
    color: black;
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    font-size: 12px;
    height: 5%;
    background-color: darkslategray;
}

footer p { 
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 5px;
    
}

#explain {
    font-size: 14px;
    color: gray;
}

.noteButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

#noteDetails {
    width: 50%;
    min-height: 150px;
}

#noteName {
    width: 25%;
}