* {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

html {
    min-height: 100%;
}

body {
    height: 100vh;
}

#noPetsMessage {
    width: 100%;
    font-size: 1.5em;
}

h1 {
    font-size: 4em;
    width: 100%;
    color: #E85A4f;
    font-family: 'Brush Script MT', cursive;
}

header{
    
}

.editIcon {
    height: 4em;
    grid-column: 2;
    grid-row: 1;
    width: auto;
    padding: .25em;
}

.editIcon:hover {
    background-color: #8E8D8A;
}

#mainDisplay {
    justify-content: center;
    display: grid;
    border: 1px solid;
    width: 100%;
/*    height: 100vh !important;*/
    background-color: #EAE7DC;
}

#petListDiv li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    margin: 0;
    padding: 0;
    margin-bottom: 3em;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #BFC0C0;
}

#petInfoDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#petNameH2 {
    font-size: 6em;
    width: 44%;
    color: #E85A4f;
    font-family: 'Brush Script MT', cursive;
    word-wrap: break-word;
}

#editDetails {
    width: auto;
    height: 6%;
}

#birthDayDetails {
    height: auto;
    width: 50%;
}

#photoFromAPI {
    width: 44%;
    height: auto;
    padding: 10px;
    border: 5px solid black;
}

#backToAllPetsButton {
    width: 50%;
    padding: 10px;
    margin: 15px
}

.pElementDetails, .petName {
    font-size: 2em;
}

.pElementDetails {
    margin: 0px;
    padding: 10px;
    word-wrap: break-word;
}

.petName {
    margin-left: 1em;
    padding-right: 20px
}

.addButton button {
    font-size: 1.75em;
    background-color: #BFC0C0;
    width: 90%;
    margin-bottom: 2em;
}

.addButton button:hover, #submitButton:hover, #lastVetVisitP:hover, #backToAllPetsButton:hover, #editDetails:hover {
    background-color: #4F5D75;
    color: white;
}

.petName:hover {
    background-color: #8E8D8A;
}

.removeButton button {
    font-size: 1.5em;
    background-color: lightcoral;
    width: 90%;
    margin-bottom: 2em;
}

.removeButton button:hover, #cancelFormButton:hover {
    background-color: red;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

label  {
    font-size: 1.3em;
    padding: 10px;
    width: 100%;
}

input, textarea, select {
    font-size: 1em
}

#petMedication, #notesFromLastVisit {
    height: 6em;
    width: 90%;
}

#petVisitTime {
    margin-left: 5px;
}

#submitButton, #cancelFormButton {
    width: 90%;
}

#submitButton {
    font-size: 1.75em;
    background-color: #BFC0C0;
    width: 90%;
    padding: 5px;
}

#backToAllPetsButton {
    font-size: 1.4em;
    background-color: #BFC0C0;
    padding: 5px;
}

#cancelFormButton {
    margin: 10px;
    font-size: 1.5em;
    background-color: lightcoral;
    width: 90%;
}

li:hover {
    background-color: #4f5d75;
    border-color: #FFFFFF;
    color: white;
}

.hidden {
    display: none !important;
}

#lastVetVisitP {
    border: 1px solid black;
}

.viewedVetNotes, #lastVetVisitNotesP{
    background-color: #BFC0C0;
}

#apiInfoDetailsDiv {
    width: 100%;
    border: 1px solid black;
    margin: 10px;
    background-color: #D8C3A5;
}

#apiInfoDetailsDiv h3 {
    font-size: 1.6em;
    text-decoration: underline;
    
}

#apiInfoDetailsDiv P {
    font-size: 1.4em
}

